.about {
  &__img {
    margin-bottom: 45px;
    @include breakPoint(l) {
      margin-bottom: 0;
    }
    @include breakPoint(xl) {
      width: 450px;
    }
  }
  &__description {
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-size: 18px;
    color: #171717;
    text-align: justify;
  }
}
