.navbar {
  position: absolute;
  width: 100%;
  top: 15px;
  height: 55px;
  transition: all 0.3s;
  &--fixed {
    background-color: #26327f;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  &__item {
    padding-left: 25px;
    padding-right: 25px;
    &--mobile {
      @include breakPoint(m) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include breakPoint(m) {
        display: block;
      }
    }
  }
  &__item--logo {
    margin-right: auto;
  }
  &__link {
    color: #e6e6e6;
    border: none;
    background-color: transparent;
    font-weight: 300;
    transition: color 0.2s;
    &:hover {
      color: #ffffff;
    }
  }

  &__link--github {
    font-size: 30px;
  }

  &__list {
    height: 55px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
