.scroll-top {
  display: none;
  border: none;
  cursor: pointer;
  background-color: #607d8b;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 8;
  bottom: 20px;
  right: 15px;
  border-radius: 50%;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.32);
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(1px);
  }
  @include breakPoint(m) {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 22px;
  }
  @include breakPoint(l) {
    bottom: 30px;
    right: 26px;
  }
  &__icon {
    color: #fdfdfd;
    font-size: 28px;
    @include breakPoint(m) {
      font-size: 29px;
    }
  }
  &--show {
    display: flex;
  }
}
